/* Terminal-Musing/src/components/Footer/Footer.module.css */
.footer {
    padding: 40px 5%; /* More generous padding */
    background-color: #222; /* Darker background */
    color: #eee;
    text-align: center;
    font-size: 0.95em;
    
  }
  
  .socialLinks {
    margin-top: 15px;
    /* Add styling for your social media icons here (e.g., using React Icons) */
  }
  
  .socialLinks a {
    color: #eee;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .socialLinks a:hover {
    color: #fff;
  }